.app-bottom-sheet-info {
  &-content {
    padding: 16px;
    .title {
      color: #e3ad18;
      font-size: 20px;
      text-transform: capitalize;
      font-weight: bold;
      font-family: "Roboto", sans-serif;
    }

    .description {
      font-size: 16px;
      font-weight: 600;
      padding: 10px 0px;
      font-family: "Roboto", sans-serif;
    }
    .buttons {
      button {
        padding: 10px 12px;
        border-color: transparent;
        font-size: 16px;
        font-weight: bold;
        font-family: "Roboto", sans-serif;
        cursor: pointer;
        border-radius: 4px;
      }
      &-close {
        color: white;
        background-color: rgb(124, 8, 8);
      }
    }
  }
}
